// Radio button and Checkbox
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}



ul {
	padding-inline-start: 0;
}

ul.stacked-list {
	display: block;
	list-style: none;
	li {
		display: list-item;
		text-align: left;
		margin-bottom: $gap__2;
	}
}

ul.inline-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: $gap__2;
	list-style: none;
	li {
		vertical-align: middle;
	}
}

.form {
	align-items: center;
	display: flex;
	min-height: $gap__6;
}

.form--outlined .form__label {
	border: 1px solid $primary50;
}

.form--hide-label .form__label {
	padding-left: 0rem;
	min-height: calc($icon-size__regular + 6px);
	min-width: calc($icon-size__regular + 6px);
	&:before {
		left: 3px;
		top: 3px;
	}
}

.form--hide-label .form__label > span,
.form__input .form__sub-label > span,
.form__input {
	clip: rect(1px, 1px, 1px, 1px);
	border: 0;
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.form__label {
	border-radius: $border-radius__default;
	color: $primary100;
	line-height: $line-height__120;
	cursor: pointer;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	min-height: $gap__6;
	padding: $gap__2 $gap__4;
	padding-left: $gap__6;
	position: relative;
	transition-duration: 0.2s;
	transition-property: box-shadow, background-color;
	transition-timing-function: ease-out;
	vertical-align: middle;
	.form__sub-label {
		color: $primary100;
		font-size: $font-size__xsmall;
	}
	&:before {
		border: 1px solid $primary100;
		border-radius: $border-radius__small;
		background-color: white;
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: 50% 50%;
		content: " ";
		height: $icon-size__regular;
		left: $gap__4;
		position: absolute;
		top: calc(50% - $gap__3);
		transition-duration: $transition-duration__1;
		transition-property: background-color, border-color;
		width: $icon-size__regular;
	}
}

.form--checkbox .form__input:not(:disabled) ~ .form__label:hover,
.form--radio .form__input:not(:disabled) ~ .form__label:hover {
	background-color: $primary10;
	mix-blend-mode: multiply;
}

.form__input:not(:disabled):focus ~ .form__label {
	background-color: $primary10;
	mix-blend-mode: multiply;
	box-shadow: $box-shadow__focus;
	// outline: $outline__focus;
	// outline-offset: $outline-offset__focus;
}

.form--checkbox .form__input:checked ~ .form__label:before {
	background-color: $primary100;
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none"><path d="M16.0551 0.193421C15.9489 0.11619 15.8285 0.0607617 15.7008 0.0303403C15.5731 -8.11443e-05 15.4407 -0.00489235 15.3111 0.0161847C15.1816 0.0372618 15.0575 0.0838092 14.946 0.153136C14.8345 0.222463 14.7379 0.313195 14.6617 0.420088L5.30839 13.4668L2.18172 10.3401C1.99216 10.1634 1.74143 10.0673 1.48236 10.0719C1.22329 10.0764 0.976111 10.1814 0.792893 10.3646C0.609676 10.5478 0.504727 10.795 0.500156 11.0541C0.495585 11.3131 0.591749 11.5639 0.768389 11.7534L4.72172 15.7134C4.82604 15.8129 4.95024 15.889 5.08614 15.937C5.22205 15.9849 5.36657 16.0035 5.51018 15.9916C5.65379 15.9796 5.79324 15.9373 5.91933 15.8676C6.04543 15.7978 6.1553 15.7021 6.24172 15.5868L16.2884 1.58675C16.3653 1.48021 16.4203 1.35947 16.4502 1.23152C16.4801 1.10357 16.4843 0.970965 16.4626 0.841375C16.4409 0.711784 16.3937 0.587787 16.3238 0.476564C16.2538 0.36534 16.1625 0.269102 16.0551 0.193421Z" fill="white"/></svg>');
	background-size: 60%;
	border-color: $primary100;
}

.form--checkbox .form__input:indeterminate ~ .form__label:before {
	background-color: $primary100;
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="MDxYbzRs0StlhnYq_UCm" aria-hidden="true"><rect width="20" height="3" x="2" y="10" rx="1.5" fill="white"></rect></svg>');
	background-size: 60%;
	border-color: $primary100;
}

.form--radio .form__input:checked ~ .form__label:before {
	background-color: $primary100;
	background-size: 60%;
	border-color: $primary100;
}

.form__input:focus ~ .form__label:before,
.form__input:not(:disabled) ~ .form__label:hover:before {
	border-color: $primary100;
	border-width: 1px;
	box-shadow: $box-shadow__checkbox;
}

.form--radio .form__input:checked ~ .form__label:after {
	background-color: white;
	border-radius: 50%;
	content: " ";
	height: $gap__3;
	left: 1.375rem;
	position: absolute;
	top: calc(50% - 6px);
	transition-duration: $transition-duration__1;
	transition-property: background-color, border-color;
	width: $gap__3;
}

.form--radio .form__label:before {
	border-radius: 50%;
}